body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}

.navbar-dark {
  background-color: #9e5700;
}
.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.jumbotron {
  padding: 70px 30px;
  margin: 0px auto;
  background-color: #eb8517;
  color: #f1d4d4;
  border-radius: 0;
}

.address {
  font-size: 80%;
  margin: 0px auto;
  color: rgb(27, 26, 26);
}

.footer {
  background-color: #eb8517b7;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.tab-content{
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;

}

.login{
  cursor: pointer;
}